# fly.toml app configuration file generated for p2p-wild-wind-3030 on 2024-01-07T21:56:52+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "p2p-wild-wind-3030"
primary_region = "hkg"

[build]

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 0
processes = ["app"]

[[vm]]
cpu_kind = "shared"
cpus = 1
memory_mb = 1024
